/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar{
        padding: 10px 0;
        transition: .3s;
    }
    .l_text {
    font-size: 23px;
    
}

    .menu {
        margin-left: -11px;
    }
    .menu li a {
    font-size: 14px;
   
}
 .dropdown-menu[data-bs-popper] {
        left: 6px;
    }
    .drop{
        min-width: 296px;
    }
    .c-middle {
    bottom: 5%;
    
}
    .c-middle h1{
        
         /*font-size: 18px;*/
    }
    .c-middle p{

         /*font-size: 14px;*/
    }
    .slider-button button{
    width: 137px;
    height: 30px;
}
    .c-b-prev {
        left: 96px;
    
}
.c-b-prev, .c-b-next {
   /*font-size: 15px;*/
   bottom: 842px;
    
  
    
}
.carousel-indicators {
    left: 53px;
    bottom: -18px;
}
.c-b-next {
    left: -395px;
}
 .service{
    padding-bottom: 36px;
  }
   .service-top{

    padding-bottom: 50px;
   }
.single{
     
        margin-bottom: 45px;
        border-radius: 10px;
    }
    .about{
    padding: 0  0 40px ;
    text-align: center;
   
  }
      .about-content{
        margin: 0;
  }
   .about-content h1{
    padding-top: 30px;
   }
  .about-content p{
    padding:0;
  }
  .about-content button{
  height: 40px;
  
  }

  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .menu {
        margin-left: -11px;
    }
    .dropdown-menu[data-bs-popper] {
        left: 6px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu {
        margin-left: -11px;
    }
    .dropdown-menu[data-bs-popper] {
        left: 6px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* Extra Large devices ( Large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { }

 /*Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {  }