/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.container{
    /*border: 1px solid red;*/
}

.header {}

.logo {}

.l_top {}

.l_text {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.menu {
    margin-top: 15px;
}

.menu li a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    color: #8e8e8e !important;
    padding: 0 15px !important;
}

.menu li a:hover {
    color: #333 !important;
}

.btn-search {
    color: #8e8e8e;
}

.btn-search:hover {
    color: #333;
}

.btn-search:focus {
    box-shadow: none;
}

.drop {
    min-width: 350px;
    top: 50px;
}

.dropdown-menu[data-bs-popper] {
    left: -316px;
    margin-top: 0.125rem;
}

.bt {
    background: transparent;
    margin-top: 5px;
}

/* slider start */
.slider{
   padding-bottom: 10px;
}
.slider-button button{
    width: 140px;
    height: 39px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: white;
    border: none;
}
.slider-button i{
    font-size: 16px;
    font-weight: 400 !important;
    margin-left: 5px;
}
.c-middle {
    bottom: 40%;
    text-align: left;
  
}
.c-b-prev , .c-b-next{
    color: hsl(0, 0%, 56%);
    position: absolute; 
    top: auto;
    bottom: -51px;
    text-transform: uppercase;;
 
}
.c-b-prev:hover{
    color: #333;
}
.c-b-next:hover{
    color: #333;
}
.c-b-prev {
    left: 209.4px;
    
}
.c-b-next{

    right: auto;
    left: -1071px;
}
.carousel-indicators{
    right: auto;
    bottom: -8px;
    left: 47px;
    
    
}
.carousel-indicators [data-bs-target]{
    width: 3px;
    height: 15px;
    margin-right: 1px;
    background-color: #8e8e8e;
    
    
}
.carousel-control-prev, .carousel-control-next{
    width: 0;
}


/* slider end */
  /*service start*/
  .service{
    padding-bottom: 100px;
  }
   /*top start*/
   .service-top{
    text-align: center;
    padding-bottom: 93px;
   }
   .line{
    margin: 0 auto;
   border: 1px solid #333333;
   width: 1px;
   height: 50px;
   }
   .c-title{
    font-size: 30px;
      padding-bottom: 12px;
   }
   .service-top p{
    font-size: 16px;
    color: #8e8e8e;
   }
   /*top end*/
    /*bottom start*/
    .service-bottom{}
    /*single item start*/
    .single{
        border: 1px solid  #8e8e8e;
        padding-bottom: 28px;
    }
    .single i{
        background-color: white;
        padding: 0 10px;
        margin-top: -22px;
        font-size: 60px;
        color: #8e8e8e;
    }
    .single h1{
            padding-top: 20px;

        font-family: 'Lato', sans-serif;
         font-size: 18px;
        font-weight: 700;
        color: #333333;
    }
    .single hr{
        width: 50px;
        margin: 0 auto;
        margin-top: 17px;
    }
    .single p{
            padding: 9px 7px;
        color: #8e8e8e;
    }
    .single button{
         text-transform: uppercase;
        font-weight: 500;
        background-color: white;
        border: none;
           color: #8e8e8e;
    }
    .single button i{
        font-size: 16px;
        font-weight: 400 !important;
        margin-left:-2px;
    }
    /*single item end*/
    /*bottom end*/
  /*service end*/

  /*About start*/
  .about{
    padding: 30px 116px 120px;
    /*padding-bottom: 40px;*/
  }
  .about img{}
  .about-content{
        margin-left: 57px;
        margin-top: -7px;
  }
  .about-content h1{}
  .about-content p{
    padding-bottom: 14px;
       color: #8e8e8e;
  }
  .about-content button{
    margin-top: 17px;
    border: 1px solid;

  }
  /*About end*/
  /*porfolio start*/
  /*porfolio end*/