/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.container{
    /*border: 1px solid red;*/
}

.header {}

.logo {}

.l_top {}

.l_text {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.menu {
    margin-top: 15px;
}

.menu li a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    color: #8e8e8e !important;
    padding: 0 15px !important;
}

.menu li a:hover {
    color: #333 !important;
}

.btn-search {
    color: #8e8e8e;
}

.btn-search:hover {
    color: #333;
}

.btn-search:focus {
    box-shadow: none;
}

.drop {
    min-width: 350px;
    top: 50px;
}

.dropdown-menu[data-bs-popper] {
    left: -316px;
    margin-top: 0.125rem;
}

.bt {
    background: transparent;
    margin-top: 5px;
}

/* slider start */
.c-middle {
    bottom: 40%;
    text-align: left;
  
}
.c-b-prev , .c-b-next{
    color: hsl(0, 0%, 56%);
    width:10%;
    top: auto;
    bottom: -254px;
}
.c-b-prev :hover{
    color: #333;
}
.c-b-next:hover{
    color: #333;
}
.c-b-prev {
    left: 153px;
    
}
.c-b-next{
    right: auto;
    left: 215px !important;
}
.carousel-indicators{
    right: auto;
    bottom: -8px;
    left: 37px;
    
    
}
.carousel-indicators [data-bs-target]{
    width: 3px;
    height: 15px;
    margin-right: 1px;
    background-color: #8e8e8e;
    
    
}


/* slider end */